-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: webmayanh
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `binh_luan_danh_gia`
--

DROP TABLE IF EXISTS `binh_luan_danh_gia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `binh_luan_danh_gia` (
  `ma_bl` int(11) NOT NULL AUTO_INCREMENT,
  `ma_tk` int(11) NOT NULL,
  `ma_hh` int(11) NOT NULL,
  `so_sao` int(11) NOT NULL COMMENT 'TÆ° 1 Ä‘áº¿n 5',
  `noi_dung` text DEFAULT NULL,
  `trang_thai` varchar(20) DEFAULT 'HienThi',
  `ngay_bl` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_bl`),
  KEY `ma_tk` (`ma_tk`),
  KEY `ma_hh` (`ma_hh`),
  CONSTRAINT `binh_luan_danh_gia_ibfk_1` FOREIGN KEY (`ma_tk`) REFERENCES `tai_khoan` (`ma_tk`) ON DELETE CASCADE,
  CONSTRAINT `binh_luan_danh_gia_ibfk_2` FOREIGN KEY (`ma_hh`) REFERENCES `hang_hoa` (`ma_hh`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `binh_luan_danh_gia`
--

LOCK TABLES `binh_luan_danh_gia` WRITE;
/*!40000 ALTER TABLE `binh_luan_danh_gia` DISABLE KEYS */;
INSERT INTO `binh_luan_danh_gia` VALUES (1,1,6,5,'tuyet voi','HienThi','2026-06-01 07:17:44'),(2,1,3,4,'may tot','HienThi','2026-06-01 11:38:09'),(3,1,4,1,'may te','HienThi','2026-06-01 11:38:24'),(4,1,4,3,'s','HienThi','2026-06-01 11:38:30'),(5,2,3,1,'te','HienThi','2026-06-01 11:42:01');
/*!40000 ALTER TABLE `binh_luan_danh_gia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_don_hang`
--

DROP TABLE IF EXISTS `chi_tiet_don_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chi_tiet_don_hang` (
  `ma_dh` int(11) NOT NULL,
  `ma_hh` int(11) NOT NULL,
  `so_luong` int(11) NOT NULL,
  `gia_luc_mua` decimal(15,2) NOT NULL,
  PRIMARY KEY (`ma_dh`,`ma_hh`),
  KEY `ma_hh` (`ma_hh`),
  CONSTRAINT `chi_tiet_don_hang_ibfk_1` FOREIGN KEY (`ma_dh`) REFERENCES `don_hang` (`ma_dh`) ON DELETE CASCADE,
  CONSTRAINT `chi_tiet_don_hang_ibfk_2` FOREIGN KEY (`ma_hh`) REFERENCES `hang_hoa` (`ma_hh`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_don_hang`
--

LOCK TABLES `chi_tiet_don_hang` WRITE;
/*!40000 ALTER TABLE `chi_tiet_don_hang` DISABLE KEYS */;
INSERT INTO `chi_tiet_don_hang` VALUES (1,3,1,30000000.00),(1,11,1,11000000.00),(2,4,1,47000000.00),(2,8,1,250000000.00),(3,3,1,30000000.00),(3,4,1,47000000.00),(4,4,2,47000000.00),(5,6,1,0.00),(6,8,1,250000000.00),(7,3,1,30000000.00),(7,4,1,47000000.00),(8,5,1,15000000.00),(8,8,1,250000000.00),(8,10,1,277000000.00),(8,15,1,225000.00),(9,3,1,0.00),(9,4,1,0.00),(10,4,1,47000000.00),(10,6,1,42000000.00);
/*!40000 ALTER TABLE `chi_tiet_don_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_khuyen_mai`
--

DROP TABLE IF EXISTS `chi_tiet_khuyen_mai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chi_tiet_khuyen_mai` (
  `ma_km` int(11) NOT NULL,
  `ma_hh` int(11) NOT NULL,
  PRIMARY KEY (`ma_km`,`ma_hh`),
  KEY `ma_hh` (`ma_hh`),
  CONSTRAINT `chi_tiet_khuyen_mai_ibfk_1` FOREIGN KEY (`ma_km`) REFERENCES `khuyen_mai` (`ma_km`) ON DELETE CASCADE,
  CONSTRAINT `chi_tiet_khuyen_mai_ibfk_2` FOREIGN KEY (`ma_hh`) REFERENCES `hang_hoa` (`ma_hh`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_khuyen_mai`
--

LOCK TABLES `chi_tiet_khuyen_mai` WRITE;
/*!40000 ALTER TABLE `chi_tiet_khuyen_mai` DISABLE KEYS */;
INSERT INTO `chi_tiet_khuyen_mai` VALUES (9,6),(10,9);
/*!40000 ALTER TABLE `chi_tiet_khuyen_mai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danh_muc`
--

DROP TABLE IF EXISTS `danh_muc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `danh_muc` (
  `ma_dm` int(11) NOT NULL AUTO_INCREMENT,
  `ten_danh_muc` varchar(100) NOT NULL,
  `slug` varchar(150) NOT NULL,
  `parent_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`ma_dm`),
  UNIQUE KEY `slug` (`slug`),
  KEY `parent_id` (`parent_id`),
  CONSTRAINT `danh_muc_ibfk_1` FOREIGN KEY (`parent_id`) REFERENCES `danh_muc` (`ma_dm`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danh_muc`
--

LOCK TABLES `danh_muc` WRITE;
/*!40000 ALTER TABLE `danh_muc` DISABLE KEYS */;
INSERT INTO `danh_muc` VALUES (1,'MĂ¡y áº£nh','may-anh',NULL),(2,'á»ng kĂ­nh','ong-kinh',NULL),(3,'Phá»¥ kiá»‡n','phu-kien',NULL);
/*!40000 ALTER TABLE `danh_muc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `don_hang`
--

DROP TABLE IF EXISTS `don_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `don_hang` (
  `ma_dh` int(11) NOT NULL AUTO_INCREMENT,
  `ma_khach_hang` int(11) DEFAULT NULL,
  `ma_voucher` int(11) DEFAULT NULL COMMENT 'Voucher Ă¡p dá»¥ng cho Ä‘Æ¡n nĂ y',
  `ten_nguoi_nhan` varchar(100) NOT NULL,
  `sdt_nguoi_nhan` varchar(15) NOT NULL,
  `ngay_dat` timestamp NOT NULL DEFAULT current_timestamp(),
  `tong_tien_hang` decimal(15,2) NOT NULL,
  `phi_van_chuyen` decimal(15,2) DEFAULT 0.00,
  `giam_gia_voucher` decimal(15,2) DEFAULT 0.00,
  `tong_thanh_toan` decimal(15,2) DEFAULT NULL COMMENT 'GENERATED ALWAYS AS (tong_tien_hang + phi_van_chuyen - giam_gia_voucher) STORED',
  `phuong_thuc_thanh_toan` varchar(20) NOT NULL,
  `trang_thai_don` varchar(50) DEFAULT 'ChoXacNhan' COMMENT 'ENUM(''ChoXacNhan'', ''XacNhanDonHang'', ''DangGiao'', ''DaGiao'', ''ThanhCong'', ''DaHuy'')',
  `trang_thai_thanh_toan` varchar(20) DEFAULT 'ChuaThanhToan',
  `dia_chi_giao` text NOT NULL,
  PRIMARY KEY (`ma_dh`),
  KEY `ma_khach_hang` (`ma_khach_hang`),
  KEY `ma_voucher` (`ma_voucher`),
  CONSTRAINT `don_hang_ibfk_1` FOREIGN KEY (`ma_khach_hang`) REFERENCES `tai_khoan` (`ma_tk`) ON DELETE SET NULL,
  CONSTRAINT `don_hang_ibfk_2` FOREIGN KEY (`ma_voucher`) REFERENCES `voucher` (`ma_voucher`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `don_hang`
--

LOCK TABLES `don_hang` WRITE;
/*!40000 ALTER TABLE `don_hang` DISABLE KEYS */;
/*!40000 ALTER TABLE `don_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_dang_ky`
--

DROP TABLE IF EXISTS `email_dang_ky`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_dang_ky` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `ngay_dang_ky` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_dang_ky`
--

LOCK TABLES `email_dang_ky` WRITE;
/*!40000 ALTER TABLE `email_dang_ky` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_dang_ky` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hang_hoa`
--

DROP TABLE IF EXISTS `hang_hoa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hang_hoa` (
  `ma_hh` int(11) NOT NULL AUTO_INCREMENT,
  `ma_dm` int(11) DEFAULT NULL,
  `ma_ncc` int(11) DEFAULT NULL,
  `ten_hang_hoa` varchar(150) NOT NULL,
  `slug` varchar(200) NOT NULL,
  `anh` varchar(255) DEFAULT NULL,
  `mo_ta` text DEFAULT NULL,
  `thong_so_ky_thuat` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`thong_so_ky_thuat`)),
  `gia_hien_tai` decimal(15,2) NOT NULL DEFAULT 0.00,
  `trang_thai` varchar(20) DEFAULT 'DangBan',
  `anh_phu` text DEFAULT NULL,
  PRIMARY KEY (`ma_hh`),
  UNIQUE KEY `slug` (`slug`),
  KEY `ma_dm` (`ma_dm`),
  KEY `ma_ncc` (`ma_ncc`),
  CONSTRAINT `hang_hoa_ibfk_1` FOREIGN KEY (`ma_dm`) REFERENCES `danh_muc` (`ma_dm`) ON DELETE SET NULL,
  CONSTRAINT `hang_hoa_ibfk_2` FOREIGN KEY (`ma_ncc`) REFERENCES `nha_cung_cap` (`ma_ncc`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hang_hoa`
--

LOCK TABLES `hang_hoa` WRITE;
/*!40000 ALTER TABLE `hang_hoa` DISABLE KEYS */;
/*!40000 ALTER TABLE `hang_hoa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kho_hang`
--

DROP TABLE IF EXISTS `kho_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kho_hang` (
  `ma_kho` int(11) NOT NULL AUTO_INCREMENT,
  `ten_kho` varchar(100) NOT NULL,
  PRIMARY KEY (`ma_kho`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kho_hang`
--

LOCK TABLES `kho_hang` WRITE;
/*!40000 ALTER TABLE `kho_hang` DISABLE KEYS */;
/*!40000 ALTER TABLE `kho_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khuyen_mai`
--

DROP TABLE IF EXISTS `khuyen_mai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `khuyen_mai` (
  `ma_km` int(11) NOT NULL AUTO_INCREMENT,
  `ten_km` varchar(150) NOT NULL,
  `loai_giam_gia` varchar(20) DEFAULT NULL COMMENT 'ENUM(''PhanTram'', ''TienMat'')',
  `gia_tri_giam` decimal(15,2) NOT NULL,
  `ngay_bat_dau` datetime NOT NULL,
  `ngay_het_han` datetime NOT NULL,
  `trang_thai` varchar(20) DEFAULT 'HoatDong',
  PRIMARY KEY (`ma_km`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khuyen_mai`
--

LOCK TABLES `khuyen_mai` WRITE;
/*!40000 ALTER TABLE `khuyen_mai` DISABLE KEYS */;
INSERT INTO `khuyen_mai` VALUES (9,'Khuyáº¿n mĂ£i 100%','PhanTram',100.00,'2026-06-01 09:17:20','2026-06-02 23:59:59','HoatDong'),(10,'','PhanTram',50.00,'2026-06-04 09:11:54','2026-06-05 00:00:00','HoatDong');
/*!40000 ALTER TABLE `khuyen_mai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lich_su_giao_hang`
--

DROP TABLE IF EXISTS `lich_su_giao_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lich_su_giao_hang` (
  `ma_ls` int(11) NOT NULL AUTO_INCREMENT,
  `ma_dh` int(11) NOT NULL,
  `trang_thai` varchar(50) NOT NULL,
  `mo_ta` text DEFAULT NULL COMMENT 'VD: ÄÆ¡n hĂ ng Ä‘Ă£ Ä‘áº¿n kho Cá»§ Chi',
  `thoi_gian` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_ls`),
  KEY `ma_dh` (`ma_dh`),
  CONSTRAINT `lich_su_giao_hang_ibfk_1` FOREIGN KEY (`ma_dh`) REFERENCES `don_hang` (`ma_dh`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lich_su_giao_hang`
--

LOCK TABLES `lich_su_giao_hang` WRITE;
/*!40000 ALTER TABLE `lich_su_giao_hang` DISABLE KEYS */;
/*!40000 ALTER TABLE `lich_su_giao_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nha_cung_cap`
--

DROP TABLE IF EXISTS `nha_cung_cap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nha_cung_cap` (
  `ma_ncc` int(11) NOT NULL AUTO_INCREMENT,
  `ten_ncc` varchar(100) NOT NULL,
  `sdt_lien_he` varchar(15) DEFAULT NULL,
  `dia_chi` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ma_ncc`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nha_cung_cap`
--

LOCK TABLES `nha_cung_cap` WRITE;
/*!40000 ALTER TABLE `nha_cung_cap` DISABLE KEYS */;
INSERT INTO `nha_cung_cap` VALUES (1,'Fujifilm','0900000000','Unknown'),(2,'Sony','0900000000','Unknown'),(3,'Canon','0900000000','Unknown'),(4,'Nikon','0900000000','Unknown'),(5,'Leica','0900000000','Unknown'),(6,'Hasselblad','0900000000','Unknown'),(7,'K&F','0900000000','Unknown');
/*!40000 ALTER TABLE `nha_cung_cap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tai_khoan`
--

DROP TABLE IF EXISTS `tai_khoan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tai_khoan` (
  `ma_tk` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `mat_khau` varchar(255) NOT NULL,
  `ho_ten` varchar(100) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `sdt` varchar(15) DEFAULT NULL,
  `loai_tk` varchar(20) DEFAULT NULL COMMENT 'ENUM(''Admin'', ''NhanVien'', ''User'')',
  `hang_thanh_vien` varchar(20) DEFAULT 'None' COMMENT 'ENUM(''None'', ''Silver'', ''Gold'', ''Diamond'')',
  `diem_tich_luy` int(11) DEFAULT 0,
  `trang_thai` varchar(20) DEFAULT 'HoatDong' COMMENT 'ENUM(''HoatDong'', ''BiKhoa'')',
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_tk`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tai_khoan`
--

LOCK TABLES `tai_khoan` WRITE;
/*!40000 ALTER TABLE `tai_khoan` DISABLE KEYS */;
INSERT INTO `tai_khoan` VALUES (1,'admin','$2y$10$831PoslXP0WZ6I.pGZ//feKrhg0JVfYaYmSum6IRCn94GhKxAxLbi','LĂª DÆ°Æ¡ng Tuáº¥n Anh','leduongtuananh.nhc@gmail.com','0523134391','Admin','Gold',8900,'HoatDong','2026-05-29 09:20:46'),(2,'haha','$2y$10$JEVo2ppyQYqtlAsiYPYewOfjK8UEUOEZajTWAdv1ikVje.UCj/QUy','Nguyá»…n Thá»‹ A','nguyenthia@gmail.com','01226372318','User','Diamond',46060,'HoatDong','2026-05-29 10:22:15'),(3,'vanb','$2y$10$z5vesWBPnVrEmmKA8aAORukV2WVSN8pkv2A8CkQEs1sYKPYZKYmQe','Nguyá»…n VÄƒn B',NULL,NULL,'User','ThÆ°á»ng',0,'HoatDong','2026-06-02 00:54:51');
/*!40000 ALTER TABLE `tai_khoan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thong_bao_email`
--

DROP TABLE IF EXISTS `thong_bao_email`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thong_bao_email` (
  `ma_tb` int(11) NOT NULL AUTO_INCREMENT,
  `ma_tk_nhan` int(11) NOT NULL COMMENT 'KhĂ¡ch hĂ ng nháº­n email',
  `tieu_de` varchar(200) NOT NULL,
  `noi_dung` text NOT NULL,
  `da_doc` tinyint(1) DEFAULT 0,
  `ngay_gui` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ma_tb`),
  KEY `ma_tk_nhan` (`ma_tk_nhan`),
  CONSTRAINT `thong_bao_email_ibfk_1` FOREIGN KEY (`ma_tk_nhan`) REFERENCES `tai_khoan` (`ma_tk`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thong_bao_email`
--

LOCK TABLES `thong_bao_email` WRITE;
/*!40000 ALTER TABLE `thong_bao_email` DISABLE KEYS */;
/*!40000 ALTER TABLE `thong_bao_email` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ton_kho_chi_tiet`
--

DROP TABLE IF EXISTS `ton_kho_chi_tiet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ton_kho_chi_tiet` (
  `ma_kho` int(11) NOT NULL,
  `ma_hh` int(11) NOT NULL,
  `so_luong_ton` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`ma_kho`,`ma_hh`),
  KEY `ma_hh` (`ma_hh`),
  CONSTRAINT `ton_kho_chi_tiet_ibfk_1` FOREIGN KEY (`ma_kho`) REFERENCES `kho_hang` (`ma_kho`) ON DELETE CASCADE,
  CONSTRAINT `ton_kho_chi_tiet_ibfk_2` FOREIGN KEY (`ma_hh`) REFERENCES `hang_hoa` (`ma_hh`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ton_kho_chi_tiet`
--

LOCK TABLES `ton_kho_chi_tiet` WRITE;
/*!40000 ALTER TABLE `ton_kho_chi_tiet` DISABLE KEYS */;
/*!40000 ALTER TABLE `ton_kho_chi_tiet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voucher`
--

DROP TABLE IF EXISTS `voucher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `voucher` (
  `ma_voucher` int(11) NOT NULL AUTO_INCREMENT,
  `ma_code` varchar(20) NOT NULL,
  `loai_giam_gia` varchar(20) DEFAULT NULL COMMENT 'ENUM(''PhanTram'', ''TienMat'')',
  `gia_tri_giam` decimal(15,2) NOT NULL,
  `don_toi_thieu` decimal(15,2) DEFAULT 0.00,
  `so_luong` int(11) NOT NULL,
  `ngay_bat_dau` datetime NOT NULL,
  `ngay_het_han` datetime NOT NULL,
  `trang_thai` varchar(20) DEFAULT 'HoatDong',
  PRIMARY KEY (`ma_voucher`),
  UNIQUE KEY `ma_code` (`ma_code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voucher`
--

LOCK TABLES `voucher` WRITE;
/*!40000 ALTER TABLE `voucher` DISABLE KEYS */;
INSERT INTO `voucher` VALUES (1,'SALE100','PhanTram',100.00,0.00,0,'2026-06-02 02:58:41','2026-12-31 00:00:00','HoatDong');
/*!40000 ALTER TABLE `voucher` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-09 19:25:14
